body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    font-size: 18px;
}
/*--------H--------*/
h1{
    text-transform: uppercase;
    font-size: 26px;
}
h2{
    text-transform: uppercase;
    font-size: 24px;
}
h3{
    border-bottom: #ea4e4e 5px solid;
    text-transform: uppercase;
    font-size: 20px;
}
/*--------Section--------*/
#info2{
       padding-top: 100px; 
}
/*--------Liste--------*/
ul li{
    list-style: none;
    line-height: 30px;
}
/*--------Grid--------*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    align-items: center;
    justify-items: center;
}
.gird3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*--------Autre--------*/
.color{
    background:#ea4e4e;
    text-align: right;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 60px;
}
.bold{
    font-weight: bold;
}
.photo{
    border: #ea4e4e 8px solid;
    border-radius: 100%;
    text-align: left;
    float: left;
    margin-top: -20px;
}
