body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1400px;
    font-size:1rem;
    
}
/*--------H--------*/
h1{
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
}
h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    em{
        font-size: 1rem;
    }
}
h3{
    border-bottom: #ea4e4e 5px solid; 
    text-transform: uppercase;
    font-size: 1.5rem;
}
h4{
    font-size: 1.2rem;
}
/*--------Section--------*/
#info2{
    padding-top: 6.2rem; 
}
/*--------Liste--------*/
ul li{
    list-style: none;
    line-height: 30px;
}
/*--------Grid--------*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6.2rem;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2.5rem;
    align-items: center;
    justify-items: center;
}
.gird3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*--------Autre--------*/
.color{
    background:#ea4e4e;
    text-align: right;
    padding: 3.1rem;
    margin-bottom: 3.1rem;
    margin-top: 3.1rem;
    margin-left: 4rem;
}
.bold{
    font-weight: bold;
}
.photo{
    border: #ea4e4e 8px solid;
    border-radius: 100%;
    text-align: left;
    float: left;
    margin-top: -1.2rem;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
}

a.lien:link, a.lien:visited{
    color: #ea4e4e;
    text-decoration: none;
}
i{
    font-size: 1rem;
    color: #ea4e4e;

}
